<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
          Warsaw
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <img src="assets/warsaw.jpeg" class="card-img-top">
        <div class="card-text text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et ante non ex dignissim aliquam at a quam.
          Maecenas et odio hendrerit, dapibus orci sit amet, fermentum lectus. Duis pellentesque velit sed accumsan
          laoreet. Sed ac mauris mattis, interdum metus ac, volutpat ex. Suspendisse eu quam ut nisi vestibulum
          aliquet sed sed tellus. Curabitur lorem mi, convallis quis venenatis non, euismod vel erat. Nullam
          ullamcorper mollis ante, accumsan dapibus ex egestas sit amet. Nam faucibus enim id nunc faucibus tincidunt.
          Vestibulum vitae nulla lectus. Suspendisse potenti. Phasellus vel consectetur ligula, in lobortis urna. Nunc
          fermentum non felis sed elementum. Nam sodales ipsum nec congue faucibus. Praesent consequat tellus massa, a
          tincidunt tellus vulputate non. Nulla vel tempus justo.
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Cracov
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <img src="assets/cracov.jpg" class="card-img-top">
        <div class="card-text text-center">
          Nunc id est eget eros porta suscipit. Suspendisse eros nulla, tristique non vehicula et, dapibus a erat.
          Aenean sit amet neque id augue porta bibendum. Praesent vel dolor massa. Integer ornare condimentum ligula a
          tempor. Aliquam auctor at elit id bibendum. In id elementum mi. Nulla facilisis tempus magna. Mauris metus
          diam, aliquet eget lorem eu, dignissim sagittis velit.
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Wrocław
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <img src="assets/wroclaw.jpg" class="card-img-top">
        <div class="card-text text-center">
          Nullam at nibh ornare, auctor ex posuere, lacinia lectus. Nunc aliquet in erat sit amet ornare. Sed ligula
          velit, consequat egestas tellus non, porttitor ultricies augue. Sed semper ornare tristique. Duis pulvinar,
          sapien nec facilisis dapibus, enim felis pellentesque erat, eu convallis purus elit quis ipsum. Orci varius
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus gravida tempor justo nec
          dapibus. Sed cursus euismod laoreet. Pellentesque rhoncus enim sed tortor placerat scelerisque. Aliquam
          ullamcorper, libero quis sagittis molestie, nisl ligula sodales libero, eget auctor sem sem non nisi.
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Poznań
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <img src="assets/poznan.jpg" class="card-img-top">
        <div class="card-text text-center">
          Donec pulvinar ullamcorper mollis. Nullam a orci ac metus euismod imperdiet. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Fusce vehicula lacus ac volutpat sodales. Nam quis sodales nisi. Praesent luctus
          id felis vitae posuere. Duis nec feugiat augue. Nullam eu iaculis lectus. Phasellus eget mi eget leo egestas
          rhoncus at sit amet ipsum. Duis suscipit magna vel nisi sodales, eget sagittis dui sagittis. Duis sagittis
          aliquam risus, ut tempus turpis lacinia pulvinar.
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Gdańsk
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <img src="assets/gdansk.jpg" class="card-img-top">
        <div class="card-text text-center">
          In sit amet purus varius, porttitor justo in, interdum nulla. Curabitur elementum sem sit amet mattis sodales.
          Suspendisse potenti. Vestibulum auctor interdum erat, nec eleifend enim venenatis et. Suspendisse non cursus
          risus. Pellentesque sodales odio at tortor cursus dignissim vel egestas libero. Donec cursus eros nec mollis
          pharetra. Curabitur ornare velit at magna laoreet ullamcorper a eu dolor. Maecenas non porta ipsum. Duis at
          laoreet massa, vel auctor nunc. Aliquam nulla nibh, gravida quis faucibus quis, ullamcorper non tortor.
          Vivamus ut dignissim velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
          turpis egestas. In a tortor dui.
        </div>
      </div>
    </div>
  </div>
</div>


